.home {
  background: url("../imgs/home-background.jpg") center/cover no-repeat;
}

.home img {
  width: 330px;
  height: 300px;
  border: 2px solid var(--color-white);
  border-radius: 50%;
}

.profile_picture {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.header_title,
.header_description {
  text-align: center;
  color: var(--color-black);
}

.header_title-white {
  color: var(--color-white);
}

.header_description-white {
  color: var(--color-white);
}

.contact-btn {
  margin: 60px;
  padding: 10px 15px;
  background-color: transparent;
  box-shadow: 0 0 3px 2px var(--color-white);
  border-radius: 15px;
  color: var(--color-white);
}

.contact-btn:hover {
  background-color: skyblue;
}
