:root {
  /* Font Color */

  --color-black: #000000;
  --color-red: #feb544;
  --color-blue: #feqqw2;

  /*Font Size */

  --font-large: 52px;
  --font-medium: 30px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 12px;

  /*Font Weight */

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */

  --border-radius: 5px;

  /* Universal tags */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}
