.skills {
  background-color: lavender;
  height: 1000px;
}

.header_explain {
  text-align: center;
}

.skillset {
  width: 85%;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.skillset_left {
  width: 60%;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillset_title {
  margin: 20px 0px;
}

.skills_description {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.skill_bar {
  width: 80%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0px;
}

.skill_value {
  height: 5px;
  background-color: burlywood;
  border-radius: 5px;
  margin: 10px 0px;
  position: relative;
  top: -10px;
}

.skillset_right {
  width: 40%;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars {
  margin-right: 50px;
}
.skill_list i {
  color: darkkhaki;
}

.skillset_tools {
  background-color: beige;
  height: 65%;
}

.skillset_etc {
  height: 35%;
}
