.nav_bar {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  padding: 70px 0;
}

.bar_menu {
  margin: 5px;
  font-size: 30px;
  margin: 0 20px;
  cursor: pointer;
}

.profile_picture {
  width: auto;
}
